#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
}

.image-container {
  display: flex;
  justify-content: center;
}

.max-width-300 {
  max-width: 300px;
  height: auto;
  max-height: 100%;
}
